/* src\styles\App.css */

.main-container {
  display: flex;
  flex-direction: row; /* Default is row for desktop */
}

.rightrail {
  position: sticky;
  top: 1rem;
  height: fit-content;
  padding-top: 1rem;
}

@media (max-width: 1024px) {
  .main-container {
    flex-direction: column-reverse; /* Reverse the order on mobile */
  }

  .rightrail {
    width: 100% !important;
    position: static;
  }
}

@media (min-width: 1024px) { /* Apply styles only for screens wider than 1024px (desktop) */
  .individual-info-form-desktop {
    width: 30%; /* Adjust this percentage to control the width */
    margin-left: auto; /* Align to the right */
    margin-right: 2%; /* Add some space on the right side */
  }
}
